<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>Sin internet</title>
    <style>
        body
        {
        background-color: whitesmoke;
        margin: 0 auto;

        }

    </style>

</head>

<body>
<div style="text-align: center; position: relative; margin-top: 50vh; ">
    <img width="50px;" src="file:///android_asset/iv.jfif" alt="">
    <p>LO SENTIMOS :(<br> No hay conexion a internet
    </p>
</div>

</body>